<div class="row">
	<div class="span4 columns">
		<h2>Title</h2>
		<p>A team of creative people creating compelling websites for all businesse</p>
		
	</div>
	<div class="span12 columns">
		A team of creative people creating compelling websites for all businesses
		
	</div>
</div>	
