<br /><br />
<div class="page-header"></div>
<div class="footer">
	<div class="inner">
	<p>
		<address>
			<strong>Sinaps-it</strong><br />
			Тел:  <br/>
			email: <a href="mailto:" >it.sinaps@gmail.com</a><br />
		</address>
	</p>
</div>
</div>